{% extends "homepage.html" %}

{% block body %}
{% include "navbar.html" %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
    <title>FakePinterest</title>
  </head>

  <body>
    <div class="container">

      <div class="conteudo">
          {% for foto in fotos %}
        <a href="{{ url_for('perfil', id_usuario=foto.id_usuario) }}" class="bloco-imagem">
          <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" />
        </a>
          {% endfor %}
      </div>
    </div>
  </body>
</html>


{% endblock %}
